/* Tekrarlanan kodlar ve reset */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.about-items-header {
    text-align: center;
}

/* up button */
/* #up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
   color: green;
   padding: 10px;
      border: 1px solid green;
      background-color: green;
  
   
  }
  
  #up i {
    color: #fff;
  } */
/* up button */


