/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
     
    }

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.banner {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

#navbar {
    width: 100%;
}



.box-first {
    width: 100%;
    margin: 0;
    padding: 0;
}

.garden-items {
    width:100%;
    display: block;
}

.garden-items-content {
    display: block;
}

.card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-toggler {
    background-color: white;
    color: black;
    border: none;
    outline: none;
}

.swipe-slide {
    display: none;
}

.header {
 
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .banner .overlay {
    display: none;
  }

}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .navbar-toggler {
        background-color: #fff;
        color: black;
    }
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
   
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   
  }